{% extends 'base.html' %}

{% block title %}
Alterar Password
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Alterar Password</h2>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <!-- Formulário para alterar a senha -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Alteração de Password</h5>

                    {% if messages %}
                        <div class="alert alert-info">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="new_password" class="form-label">Nova Password</label>
                            <input type="password" name="new_password" id="new_password" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirm_new_password" class="form-label">Confirmar Nova Password</label>
                            <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-danger w-100">Alterar Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
