{% extends 'base.html' %}

{% block title %}
Logout - Restaurante Português
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Você saiu da sua conta!</h2>
    <p class="text-center mt-3">Esperamos vê-lo novamente em breve. Se precisar de ajuda, entre em contato conosco.</p>
    <div class="text-center mt-4">
        <a href="{% url 'homepage' %}" class="btn btn-danger">Voltar à Página Inicial</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login Novamente</a>
    </div>
</div>
{% endblock %}
