{% extends 'base.html' %}

{% block title %}
Perfil do Utilizador - Restaurante Português
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Perfil do Utilizador</h2>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-danger text-white">
                    <h4>{{ user.username }}</h4>
                    <p class="lead">Bem-vindo ao seu perfil!</p>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p><i class="fas fa-envelope"></i> <strong>Email:</strong> {{ user.email }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><i class="fas fa-calendar-alt"></i> <strong>Data de Criação:</strong>{{ user.date_joined }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p><i class="fas fa-user"></i> <strong>Nome Completo:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><i class="fas fa-phone-alt"></i> <strong>Telefone:</strong> 
                            {% if user.profile.phone_number %}
                                {{ user.profile.phone_number }}
                            {% else %}
                                Não disponível
                            {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
                        <a href="{% url 'alterar_password' %}" class="btn btn-info mx-2"><i class="fas fa-lock"></i> Alterar Senha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
