<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h1>Itens no Carrinho</h1>
    <ul>
        {% for item in itens %}
            <li>{{ item.nome }} - {{ item.quantidade }} x {{ item.preco }} = {{ item.total }}</li>
        {% endfor %}
    </ul>
    <h3>Total: {{ total }}</h3>
    <a href="{% url 'metodos_pagamento' %}">Finalizar Pedido</a>
</body>
</html>
