{% extends 'base.html' %}

{% block title %}
Editar Prato - Restaurante Português
{% endblock %}

{% block content %}
<main class="container my-5">
    <h2 class="text-center mb-4">Editar Prato</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{% url 'editar_prato' prato.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="{% url 'menu' %}" class="btn btn-primary btn-lg">
            Voltar ao Menu
        </a>
    </div>
</main>
{% endblock %}
